
/* CSS INDEX HEADER*/


body {
    font-family: 'Nunito', sans-serif;


    
}

header {
    background-color: blueviolet;
    border-bottom: 2px solid pink;
    position: fixed;
    top: 0;
    left: 0;
}

.container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 40px;
    flex-wrap: wrap;
    background: linear-gradient(90deg, #6E008C 0%, #A988FF 100%);
}

.container__logo {
    display: flex;
    align-items: center;
}

#img-menu {
    width: 30px;
}

#menu {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    top: 67px;
    right: 0;
    left: 0;
    background: rgb(81, 0, 128);
    height: 0px;
    transition: 1s;
    visibility: hidden;
    overflow-y: hidden;
}

#menu li {
    margin: 20px;
}

#menu li a {

    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    overflow-y: auto;
}


#nav.active #menu {
    height: 14vh;
    visibility: visible;

}

.container h1 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 205, 243);
}

.logo {
    width: 70px;
    box-sizing: border-box;
    padding: 10px;

}

#linha {
    margin: 0 auto;
    border: none;
    background-color: rgb(255, 205, 243);
    height: 2px;
    width: 30%;

}

/* CSS INDEX MAIN*/

.main_index {
    background: url(background_main.jpg) center/cover;
    margin-top: 65px;

}

.main_first {
 
}

.main__frase {
    box-sizing: border-box;
    padding: 20px;    
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.box_slide {
    display: flex;
    justify-items: space-between;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;

}

.box_slide img {
    width: 80vw;
    margin: 20px auto;
    
}


