
/* CSS INDEX HEADER*/


body {
    font-family: 'Nunito', sans-serif;
}

header {
    background-color: blueviolet;
    border-bottom: 2px solid pink;
    position: fixed;
    top: 0;
    left: 0;
}

.cabecalho {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 40px;
    flex-wrap: wrap;
    background: linear-gradient(90deg, #6E008C 0%, #A988FF 100%);
}

.gg-menu {
    margin: 20px;
    color: pink;
    
}

.cabecalho h1 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 205, 243);
}

.logo {
    width: 70px;
    box-sizing: border-box;
    padding: 10px;

}

#linha {
    margin: 0 auto;
    border: none;
    background-color: rgb(255, 205, 243);
    height: 2px;
    width: 30%;

}

/* CSS INDEX MAIN*/

main {
    background: url(background_main.jpg) center/cover;
    padding-top: 65px;
}

.main_first {
 
}

.main__frase {
    box-sizing: border-box;
    padding: 20px;    
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.box_slide {
    display: flex;
    justify-items: space-between;
    flex-wrap: wrap;
    width: 100vw;

}

.box_slide img {
    width: 300px;
    height: 300px;
    margin: 20px auto;
    border: 4px solid rgba(255, 255, 255, 0.300);
    box-shadow: 5px 5px 20px ;
    border-radius: 10px 10px;
}


@media (max-width:330px) {

    .cabecalho h1 {
        display: none;
    }





    /* MAIN INDEX */

    .box_slide {
        display: flex;
        justify-items: space-between;
        flex-wrap: wrap;
        width: 100vw;
    }

    .box_slide img {
        width: 200px;
        height: 200px;
    }


}