
body {
    font-family: 'League Spartan', sans-serif;
    font-weight: 100;  
}  
    
.video-background{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    z-index: -1000;
    object-fit: cover;
}

.video-filter {
    position: fixed; 
    top: 0;
    left: 0;
    width: 1920px; 
    height: 1080px; 
    z-index: -999;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.5);
}

/********************* HEADER *********************/

header {
    border-bottom: 2px solid pink;
    width: 100vw;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: linear-gradient(90deg, #450058c5 0%, #aa88ffc5 100%);
}

.container-logo a {
    display: flex;
    align-items: center;
    margin-left: 80px;
    text-decoration: none;
}

.navigation {
    margin-left: 20px;
}

#menu {
    display: flex;
    align-items: center;
}

#btn-menu {
    display: none;
}

#menu li {
    margin: 20px;
}

#menu li:hover {
    background: #A988FF;
    box-sizing: border-box;
    padding: 0 10px;
    border-radius: 15px 15px;
    transition: 1s;
}

#menu li a {
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    overflow-y: auto;
    font-weight: 300;
}

.container h1 {
    font-size: 20px;
    color: rgb(255, 205, 243);
}

.logo {
    width: 70px;
    box-sizing: border-box;
    padding: 10px;
}

.social-header {
    display: flex;
    align-items: center; 
    margin-right: 40px;  
}

.social-header img {
width: 35px;
margin: 0 20px;
filter: grayscale(0);
}

.social-header img:hover {
    width: 40px;
    transition: 0.5s;
}

#linha {
    margin: 0 auto;
    border: none;
    background-color: rgba(253, 253, 253, 0.5);
    height: 5px;
    width: 60vw;
    border-radius: 3px 3px;

}

/********************* MAIN *********************/

h2,
h3,
h4 {
    font-size: 40px;
    color: white;
    font-weight: 200;
    text-align: center;
    padding: 30px 0;
}

#linha {
    margin: 0 auto;
    border: none;
    background-color: rgba(253, 253, 253, 0.5);
    height: 5px;
    width: 60vw;
    border-radius: 3px 3px;
}

.main-p {
    width: 100%;
}

.main-p p {
    box-sizing: border-box;
    padding: 0 60px;
    margin: 30px 0;
    font-size: 25px;
    color: white;
}

.main-p-img {
    display: flex;
    justify-content: center;
}

.main-p-img img {
    border-radius: 20px 20px;
}

footer {

}

footer p {
    text-align: center;
    margin: 10px auto;
    color: white;
}

.container_footer {
    width: 30vw;
    margin: 5px auto;
}

.social {
    display: flex;
    justify-content: center;
    background: rgb(255, 255, 255, 0.1);
    border-radius: 20px 20px;
    padding-top: 10px;
    height: 50px;
    
}

.social img {
    box-sizing: border-box;
    margin: 0 20px;
    width: 40px;

}

.social a {
    margin: 0;
    padding: 0;
 
}

@media (max-width: 992px) {
    
    /********************* MOBILE HEADER *********************/

    body {
        font-family: 'League Spartan', sans-serif;
    }

    header {
        background-color: blueviolet;
        border-bottom: 2px solid pink;
        position: fixed;
        top: 0;
        left: 0;
    }

    .container {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;       
        flex-wrap: wrap;
        background: linear-gradient(90deg, #6E008C 0%, #A988FF 100%);
    }

    .container-logo {
        display: flex;
        align-items: center;
    }

    .container-logo a {
        margin-left: 20px;
    }

    #btn-menu {
        margin-right: 40px;
    }

    #menu {
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        top: 67px;
        right: 0;
        left: 0;
        background: rgb(81, 0, 128);
        height: 0px;
        transition: 0.3s;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: 10vh;
        visibility: visible;
    }

    #menu li {
        margin: 20px;
    }

    #menu li a {
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        text-decoration: none;
        color: rgb(255, 255, 255);
        overflow-y: auto;
    }

    #btn-menu {
        display: block;
    }

    .container h1 {
        font-size: 20px;
        font-weight: bold;
        color: rgb(255, 205, 243);
    }

    .social-header {
        display: none;
    }

    .logo {
        width: 70px;
        box-sizing: border-box;
        padding: 10px;
    }



    #linha {
        margin: 0 auto;
        border: none;
        background-color: rgba(253, 253, 253, 0.5);
        height: 5px;
        width: 60vw;
        border-radius: 3px 3px;

    }

        /********************* MOBILE MAIN *********************/

        main {
            margin-top: 65px;
        }

        h2 {
            width: 100%;
            box-sizing: border-box;
            padding-left: 20px;
            padding-right: 20px;
        }

        .main-p p {
            padding: 0 20px;
            text-align: center;
        }

        .main-p-img img {
            width: 80vw;
            display: flex;
            justify-content: center;
        }

        /********************* MOBILE FOOTER *********************/

        footer p {
            text-align: center;
            margin: 10px auto;
        }
    
        .container_footer {
            width: 80vw;
            margin: 5px auto;
        }
    
        .social {
            display: flex;
            justify-content: center;    
            background: rgb(255, 255, 255, 0.1);
            border-radius: 20px 20px;
            padding: 0;
        }
    
        .social img {
            box-sizing: border-box;
            padding: 5px;
            margin: 0 20px;
            width: 50px;
        }
}